:root {
  --sm: 14px;
  --md: 16px;
  --lg: 18px;

  --green: #187D33;
  --light-green: #94C56C;
  --dark-green: #165643;
  --light-grey: #AFAFAF;
  --grey: #6B6B6B;
  --dark-grey: #474747;
  --background: #E8EFEE;
  --white: #FFFFFF;
  --black: #000000;
}
