@import 'vars';
.NewPassword-container {
  position: absolute;
  top: 60px;
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  overflow: hidden;
}
.title {
  margin: 4px 4px 8px 4px;
  font-size: var(--lg);
  color: var(--dark-grey);
  text-align: start;
}
.subtitle {
  margin-bottom: 24px;
  height: 30px;
  width: 300px;
  font-size: var(--md);
  color: var(--grey);
}
.NewPassword-form {
  display: grid;
  justify-content: center;
}
.NewPassword-form div{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.NewPassword-form__input {
  border: none;
  border-bottom: 1px solid var(--light-grey);
  height: 30px;
  width: 280px;
  font-size: var(--md);
  color: var(--dark-grey);
  background-color: inherit;
  z-index: 2;
  outline: none;
}
.NewPassword-form__label {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: var(--md);
  color: var(--grey);
  font-weight: bold;
  cursor: text;
  transition: transform 0.5s, color 0.3s;
  z-index: 1;
}
.NewPassword-form__line{
  position: absolute;
  top: 29px;
  width: 280px;
  height: 1.5px;
  background-color: var(--green);
  transform: scale(0);
  transition: transform 0.5s;
  z-index: 100;
}
.NewPassword-form__input:focus + .NewPassword-form__label,
.NewPassword-form__input:not(:placeholder-shown) + .NewPassword-form__label
{
  transform: translateY(-24px) scale(.95);
  transform-origin: left top;
  color: var(--dark-green);
}
.NewPassword-form__input:focus ~ .NewPassword-form__line,
.NewPassword-form__input:not(:placeholder-shown) ~ .NewPassword-form__line{
  transform: scale(1);
}
#confirm-button {
  justify-self: center;
  width: 120px;
}
.primary-button {
  place-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  width: auto;
  height: 40px;
  font-size: var(--md);
  font-weight: bold;
  color: var(--white);
  background-color: var(--green);
  cursor: pointer;
}
.primary-button:hover {
  background-color: var(--dark-green);
}
