@import 'vars';

.ProductInfo__img {
  position: relative;
  place-self: center;
}
#ProductInfo__image {
  border-radius: 0 0 20px 20px;
  width: 30vw;
  height: 30vw;
  max-width: 340px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
.ProductInfo_close {
  position: absolute;
  top: 8px;
  left: 8px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  fill: var(--dark-green);
  background-color: var(--white);
  cursor: pointer;
}
.ProductInfo_close:hover {
  fill: var(--white);
  background-color: var(--light-green);
}
.ProductInfo__price,
.ProductInfo__name {
  margin: 8px 0 4px 40px;
}
.ProductInfo__price {
  font-weight: bold;
  color: var(--dark-grey);
  font-size: var(--lg);
}
.ProductInfo__name {
  color: var(--grey);
  font-size: var(--md);
}
.ProductInfo__description {
  margin: 8px 40px 20px 40px;
  color: var(--grey);
  font-size: var(--sm);
  text-align: justify;
}
